<!--
  * HTML
  * Name: button.html
  * Path: src\components\elements\button\
-->
<div>
  <h3 class="title title__h3">.btn</h3>
  <button class="btn">button button</button>
  <a class="btn">button link</a>
  <div class="btn" tabindex="0">button block</div>
</div>
<div>
  <h3 class="title title__h3">.btn-primary</h3>
  <button class="btn-primary">button button</button>
  <a class="btn-primary">button link</a>
  <div class="btn-primary" tabindex="0">button block</div>
</div>
<div>
  <h3 class="title title__h3">.btn-primary__ico</h3>
  <button class="btn-primary">
    <span>button button</span>
    <i class="btn-primary__ico btn-primary__ico--telegram"></i>
  </button>
  <a class="btn-primary">
    <span>button link</span>
    <i class="btn-primary__ico btn-primary__ico--telegram"></i>
  </a>
  <div class="btn-primary" tabindex="0">
    <span>button block</span>
    <i class="btn-primary__ico btn-primary__ico--telegram"></i>
  </div>
</div>
<div>
  <h3 class="title title__h4">.btn-primary--big</h3>
  <button class="btn-primary btn-primary--big">button button</button>
  <a class="btn-primary btn-primary--big">button link</a>
  <div class="btn-primary btn-primary--big" tabindex="0">button block</div>
</div>
<!--  -->
<div>
  <h3 class="title title__h3">.btn-secondary</h3>
  <button class="btn-secondary">button button</button>
  <a class="btn-secondary">button link</a>
  <div class="btn-secondary" tabindex="0">button block</div>
</div>
<div>
  <h3 class="title title__h4">.btn-secondary--big</h3>
  <button class="btn-secondary btn-secondary--big">button button</button>
  <a class="btn-secondary btn-secondary--big">button link</a>
  <div class="btn-secondary btn-secondary--big" tabindex="0">button block</div>
</div>
<!--  -->
<div>
  <h3 class="title title__h4">.btn-secondary--shadow</h3>
  <button class="btn-secondary btn-secondary--shadow">button button</button>
  <a class="btn-secondary btn-secondary--shadow">button link</a>
  <div class="btn-secondary btn-secondary--shadow" tabindex="0">button block</div>
</div>
