<!--
  * HTML
  * Name: loved-for.html
  * Path: src\components\sections\loved-for\
-->
<section class="loved-for">

  <div class="loved-for__container container">
    <h2 class="loved-for__title title title__h2">
      Дети любят наши уроки потому что:
    </h2>
    <div class="loved-for__content">
      <div class="loved-for__list">

        <div class="loved-for__item active">
          <div class="loved-for__item-text-wrap">
            <div class="loved-for__item-title">
              Продвинутая геймификация
            </div>
            <div class="loved-for__item-text">
              Мы используем мини-игры чтобы увлечь ребенка в процесс решения задач и помочь усвоить материал в интересной форме
            </div>
          </div>
        </div>
        <!-- / .loved-for__item -->

        <div class="loved-for__item">
          <div class="loved-for__item-text-wrap">
            <div class="loved-for__item-title">
              Не зубрят и не переписывают учебники
            </div>
            <div class="loved-for__item-text">
              Дети вовлечены в урок по средствам взаимодействия между собой и педагогом. Играют в тематические квизы. Смотрят видео и разбирают материал.
            </div>
          </div>
        </div>
        <!-- / .loved-for__item -->

        <div class="loved-for__item">
          <div class="loved-for__item-text-wrap">
            <div class="loved-for__item-title">
              Никакого стресса
            </div>
            <div class="loved-for__item-text">
              В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно
            </div>
          </div>
        </div>
        <!-- / .loved-for__item -->
      </div>
      @@include('../../modules/sign-up-for/sign-up-for-big-btn.html', {"parentClass": "loved-for"})

    </div>
    <div class="loved-for__scene">
      @@include('../../modules/scene-loved-for/scene-loved-for.html', {})
    </div>
  </div>

</section>
