@font-face {
	font-family: "ALSSchlangesans-Bold";
	src:
		local("ALSSchlangesans-Bold"),
		url("../fonts/ALSSchlangesans-Bold.woff2") format("woff2"),
		url("../fonts/ALSSchlangesans-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProBold";
	src:
		local("GothamProBold"),
		url("../fonts/GothamProBold.woff2") format("woff2"),
		url("../fonts/GothamProBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProMedium";
	src:
		local("GothamProMedium"),
		url("../fonts/GothamProMedium.woff2") format("woff2"),
		url("../fonts/GothamProMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GothamProRegular";
	src:
		local("GothamProRegular"),
		url("../fonts/GothamProRegular.woff2") format("woff2"),
		url("../fonts/GothamProRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "HelveticaRegular";
	src:
		local("HelveticaRegular"),
		url("../fonts/HelveticaRegular.woff2") format("woff2"),
		url("../fonts/HelveticaRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
