<!--
  * HTML
  * Name:
  * Path:
-->
<h3 class="title title__h3">base color</h2>
  <div class="colors">
    <!--  -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #243976;"></div>
      <div class=" colors__description">
        <div class="colors__name">$theme-primary</div>
        <div class="colors__parameter">#243976</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #49B3F7;"></div>
      <div class=" colors__description">
        <div class="colors__name">$theme-secondary</div>
        <div class="colors__parameter">#49B3F7</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #864ff1;"></div>
      <div class=" colors__description">
        <div class="colors__name">$theme-tertiary</div>
        <div class="colors__parameter">#864ff1</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #FFFFFF;"></div>
      <div class=" colors__description">
        <div class="colors__name">$theme-background</div>
        <div class="colors__parameter">#FFFFFF</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #EFF2FD;"></div>
      <div class="colors__description">
        <div class="colors__name">$theme-surface</div>
        <div class="colors__parameter">#EFF2FD</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);"></div>
      <div class="colors__description">
        <div class="colors__name">$theme-primary-accent</div>
        <div class="colors__parameter">#864FF1, #49B3F7</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);"></div>
      <div class="colors__description">
        <div class="colors__name">$theme-secondary-accent</div>
        <div class="colors__parameter">#4271DF, #789CF1</div>
      </div>
    </div> <!-- | colors__card -->
    <div class="colors__card">
      <div class="colors__color" style="background-color: #fff;"></div>
      <div class="colors__description">
        <div class="colors__name">$theme-on-accent</div>
        <div class="colors__parameter">#FFFFFF</div>
      </div>
    </div> <!-- | colors__card -->
  </div> <!-- | colors -->

  <h3 class="title title__h3">additional colors</h2>
    <div class="colors">
      <!--  -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #323232;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-80</div>
          <div class="colors__parameter">#323232</div>
        </div>
      </div> <!-- | colors__card -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #737373;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-55</div>
          <div class="colors__parameter">#737373</div>
        </div>
      </div> <!-- | colors__card -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #9E9E9E;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-40</div>
          <div class="colors__parameter">#9E9E9E</div>
        </div>
      </div> <!-- | colors__card -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #A6A6A6;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-35</div>
          <div class="colors__parameter">#A6A6A6</div>
        </div>
      </div> <!-- | colors__card -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #E6E6E6;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-10</div>
          <div class="colors__parameter">#E6E6E6</div>
        </div>
      </div> <!-- | colors__card -->
      <div class="colors__card">
        <div class="colors__color" style="background-color: #F2F2F2;"></div>
        <div class=" colors__description">
          <div class="colors__name">$theme-grey-5</div>
          <div class="colors__parameter">#F2F2F2</div>
        </div>
      </div> <!-- | colors__card -->

    </div> <!-- | colors -->
