<!--
  * HTML
  * Name: scene-advantages-schedule.html
  * Path: src\components\modules\scene-advantages\
-->
<div id="id-scene-schedule" class="scene-advantages">
  <div class="scene-advantages__item scene-advantages__background" data-depth="0.1"></div>
  <div class="scene-advantages__item scene-advantages__schedule-0" data-depth="0.2"></div>
  <div class="scene-advantages__item scene-advantages__schedule-1" data-depth="0.4"></div>
  <div class="scene-advantages__item scene-advantages__schedule-2" data-depth="0.65"></div>
</div>
