<!--
  * HTML
  * Name: scene-advantages-no-stress.html
  * Path:src\components\modules\scene-advantages\
-->
<div id="id-scene-no-stress" class="scene-advantages">
  <div class="scene-advantages__item scene-advantages__background" data-depth="0.1"></div>
  <div class="scene-advantages__item scene-advantages__no-stress-0" data-depth="0.2"></div>
  <div class="scene-advantages__item scene-advantages__no-stress-1" data-depth="0.5"></div>
  <div class="scene-advantages__item scene-advantages__no-stress-2" data-depth="0.75"></div>
</div>
