<!--
  * HTML
  * Name: scene-advantages-access.html
  * Path: src\components\modules\scene-advantages\
-->
<div id="id-scene-access" class="scene-advantages">
  <div class="scene-advantages__item scene-advantages__background" data-depth="0.1"></div>
  <div class="scene-advantages__item scene-advantages__access-0" data-depth="0.15"></div>
  <div class="scene-advantages__item scene-advantages__access-1" data-depth="0.2"></div>
  <div class="scene-advantages__item scene-advantages__access-2" data-depth="0.35"></div>
  <div class="scene-advantages__item scene-advantages__access-3" data-depth="0.6"></div>
</div>
