.btn-nav-tab-classes {
  @extend %btn-default;
  z-index: 1;

  padding: 1.6rem 2.4rem;

  color: $theme-primary;
  font-weight: 700;
  font-size: 3rem;

  font-family: ALSSchlangesans, sans-serif;

  background-color: $theme-surface;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);

  transition:
    color 0.1s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.2s ease-in-out;

  &.active {
    cursor: default;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    opacity: 0;

    transition: opacity 0.4s ease-in-out;

    content: "";
  }

  &::before {
    background-image: $theme-primary-accent;
  }

  &::after {
    background-image: $theme-primary-accent--hover;
  }

  // for mobile
  @media (hover: none) {
    &.active {

      color: $theme-on-accent;

      background-image: $theme-primary-accent;

      box-shadow: 14px 22px 40px rgb(30 35 66 / 25%);
    }

    &:active {
      box-shadow: 14px 22px 40px rgb(30 35 66 / 25%);
    }

    &:active::after {
      opacity: 1;
    }
  }

  // for desktop and Internet Explorer 10+
  @media (hover: hover) and (pointer: fine),
  screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {

    &:hover,
    &.active {

      color: $theme-on-accent;

      background-color: transparent;

      box-shadow: 14px 22px 40px rgb(30 35 66 / 25%);
    }

    &:hover::before {
      opacity: 1;
    }

    &:active::after {
      color: $theme-on-accent;

      opacity: 1;
    }

    &.active::before {
      opacity: 1;
    }
  }
}
