@use "sass:color";

.btn-nav-header-top-menu {
  @extend %btn-default;

  overflow: visible;

  font-weight: 500;
  font-size: 1.4rem;

  transition: color 0.2s ease-in-out;

  &:active {
    color: $theme-tertiary;
  }

  &__ico {

    position: relative;
    bottom: -1px;
    z-index: 2;

    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1px;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 18px;
      height: 18px;

      transition: transform 0.3s ease;

      content: "";
    }

    &--user {
      &::before {
        background: url("../images/ico-bat-nav-user.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        transform: translate(-50%, -50%);
      }
    }
  }

  // for desktop and Internet Explorer 10+
  @media (hover: hover) and (pointer: fine),
  screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    &:hover {
      color: $theme-secondary;
    }
  }

  @media (max-width: 540px) {
    font-size: 1.6rem;

    &__ico {
      margin-right: 4px;
    }
  }
}
