<!--
  * HTML
  * Name:
  * Path:
-->
<section class="how-works container" id="id-how-works">
  <h2 class="how-works__title title title__h2">Как проходят уроки в нашей онлайн школе?</h2>
  <div class="how-works__card-wrap">

    <div class="how-works__card">
      <div class="how-works__card-img">
        @@include('../../modules/scene-how-works/scene-how-works-live-lessons.html')
      </div>
      <div class="how-works__card-description">
        <h4 class="how-works__card-title title title__h4">Живые уроки с учителем</h4>
        <div class="how-works__card-text text text--small">Увлекательные уроки с учителем, на которых каждому ребенку будет уделено внимание</div>
      </div>
    </div>
    <!-- / .how-works__card -->

    <div class="how-works__card">
      <div class="how-works__card-img">
        @@include('../../modules/scene-how-works/scene-how-works-additional-materials.html')
      </div>
      <div class="how-works__card-description">
        <h4 class="how-works__card-title title title__h4">Дополнительные материалы</h4>
        <div class="how-works__card-text text text--small">Материалы по каждой теме без лишней воды помогут закрепить знания</div>
      </div>
    </div>
    <!-- / .how-works__card -->

    <div class="how-works__card">
      <div class="how-works__card-img">
        @@include('../../modules/scene-how-works/scene-how-works-homework.html')
      </div>
      <div class="how-works__card-description">
        <h4 class="how-works__card-title title title__h4">Домашнее задание</h4>
        <div class="how-works__card-text text text--small">Для закрепления всего ранее полученного материала дети получают домашнее задание</div>
      </div>
    </div>
    <!-- / .how-works__card -->

    <div class="how-works__card">
      <div class="how-works__card-img">
        @@include('../../modules/scene-how-works/scene-how-works-verification-evaluation.html')
      </div>
      <div class="how-works__card-description">
        <h4 class="how-works__card-title title title__h4">Проверка и оценка</h4>
        <div class="how-works__card-text text text--small">Все домашние задания проверяются учителем и выставляется оценка в дневник</div>
      </div>
    </div>
    <!-- / .how-works__card -->
  </div>
</section>
