<!--
  * HTML
  * Name: certificate.html
  * Path: src\components\sections\certificate\
-->
<section class="certificate container">
  <header class="certificate__content-wrap">
    <h2 class="certificate__title title title__h2">
      Аттестат государственного образца
    </h2>
    <p class="certificate__subtitle text text--big">
      Вы получите аттестат государственного образца. Он ничем не отличается от аттестата которые выдают в обычных школах. С аттестатом вы сможете продолжить обучение в лучших вузах страны.
    </p>
  </header>
  <div class="certificate__scene">
    @@include('../../modules/scene-certificate/scene-certificate.html', {})
  </div>
</section>
