<!--
  * HTML
  * Name: scene-certificate.html
  * Path: src\components\modules\scene-certificate\
-->
<div id="id-scene-certificate-wrap">
  <div id="id-scene-certificate" class="scene-certificate">
    <div class="scene-certificate__item scene-certificate__background">
      @@include('./parts/scene-certificate-backgrond.html')
    </div>
    <!--  -->
    <div class="scene-certificate__item scene-certificate__certificate-0" data-depth="0.1"></div>
    <div class="scene-certificate__item scene-certificate__certificate-1" data-depth="0.2"></div>
    <!--  -->
  </div>
</div>
