<!--
  * HTML
  * Name: _scene-comparison-boys-right.html
  * Path: src\components\modules\scene-comparison-boys\_scene-comparison-boys-right.html
-->

<div id="id-scene-comparison-boys-right" class="scene-comparison-boys">

  <div class="scene-comparison-boys__item scene-comparison-boys__background"></div>
  <!--  -->
  <div class="scene-comparison-boys__item scene-comparison-boys__right-shadow" data-depth-y="0.2" data-depth-x="0.5"></div>
  <!--  -->
  <div class="scene-comparison-boys__item scene-comparison-boys__right-boy" data-depth-y="0.3" data-depth-x="0.7"></div>

</div>
