<!DOCTYPE html>
<html lang="ru">
<!-- <head> -->
@@include('../parts-pages/head.html', {"title": "Школа будущего online" })
<!-- </head> -->
<body>
  <!-- <header> -->
  @@include('../sections/header/header.html', {
  "title-homepage": "Настоящая школа <span>у вас дома!</span>",
  "text-homepage": "Мы даем детям реальные знания, потому наши классы не превышают 10 человек. А интерактивность и вовлеченность делает уроки интересными для детей.",
  "tagline-homepage": "Семейное образование с нами - это эффективно!"
  })
  <!-- </header> -->

  <!-- <sections> -->
  @@include('../sections/for-whom-cards/for-whom.html')

  @@include('../sections/how-works/how-works.html')

  @@include('../sections/loved-for/loved-for.html')

  @@include('../sections/comparison/comparison.html')

  @@include('../sections/advantages/advantages.html')

  @@include('../sections/rates/rates.html')

  @@include('../sections/certificate/certificate.html')

  @@include('../sections/comment/comment.html')

  @@include('../sections/faq/faq.html')

  @@include('../sections/contacts/contacts.html')

  @@include('../sections/footer/footer.html')

  @@include('../sections/modal-callback/modal-callback.html')

  <!-- </sections> -->

  <!-- <footer> -->
  <!-- </footer> -->

  <!-- <script> -->
  @@include('../parts-pages/scripts.html')
  <!-- </script> -->
</body>
</html>
