<!--
  * HTML
  * Name:
  * Path:
-->
<div>
  <h3 class="title title__h3">.btn-nav-header-top-menu</h3>
  <button class="btn-nav-header-top-menu">Для кого</button>
  <a class="btn-nav-header-top-menu">Как проходят уроки</a>
  <div class="btn-nav-header-top-menu" tabindex="0">Преимущества</div>
  <div class="btn-nav-header-top-menu" tabindex="0">
    <i class="btn-nav-header-top-menu__ico btn-nav-header-top-menu__ico--user"></i>
    <span> Преимущества</span>
  </div>

</div>
<div>
  <h3 class="title title__h3">.btn-nav-footer-menu</h3>
  <button class="btn-nav-footer-menu">1-4 класс</button>
  <a class="btn-nav-footer-menu">5-8 класс</a>
  <div class="btn-nav-footer-menu" tabindex="0">9-11 класс</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-header-tab-menu</h3>
  <button class="btn-nav-header-tab-menu" onclick="this.classList.toggle('active')">1-4 классы button</button>
  <a class="btn-nav-header-tab-menu" onclick="this.classList.toggle('active')">5-8 классы link</a>
  <div class="btn-nav-header-tab-menu" tabindex="0" onclick="this.classList.toggle('active')">9-11 классы block</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-header-tab-menu .active</h3>
  <button class="btn-nav-header-tab-menu active">1-4 классы</button>
  <a class="btn-nav-header-tab-menu active">5-8 классы</a>
  <div class="btn-nav-header-tab-menu active" tabindex="0">9-11 классы</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-tab-classes</h3>
  <button class="btn-nav-tab-classes" onclick="this.classList.toggle('active')">1 класс</button>
  <a class="btn-nav-tab-classes" onclick="this.classList.toggle('active')">2 класс</a>
  <div class="btn-nav-tab-classes" tabindex="0" onclick="this.classList.toggle('active')">3 класс</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-tab-classes .active</h3>
  <button class="btn-nav-tab-classes active">1 класс</button>
  <a class="btn-nav-tab-classes active">2 класс</a>
  <div class="btn-nav-tab-classes active" tabindex="0">3 класс</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-tab-inside</h3>
  <button class="btn-nav-tab-inside" onclick="this.classList.toggle('active')">Живой урок с учителем</button>
  <a class="btn-nav-tab-inside" onclick="this.classList.toggle('active')">Дополнительный материал</a>
  <div class="btn-nav-tab-inside" tabindex="0" onclick="this.classList.toggle('active')">Тренажер</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-tab-inside .active</h3>
  <button class="btn-nav-tab-inside active">Живой урок с учителем</button>
  <a class="btn-nav-tab-inside active">Дополнительный материал</a>
  <div class="btn-nav-tab-inside active" tabindex="0">Тренажер</div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-slider</h3>
  <button class="btn-nav-slider btn-nav-slider--to-left"></button>
  <a class="btn-nav-slider btn-nav-slider--to-rigth"></a>
  <div class="btn-nav-slider btn-nav-slider--to-left disable" tabindex="0"></div>
  <div class="btn-nav-slider btn-nav-slider--to-rigth disable" tabindex="0"></div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-memu-burger / .active</h3>
  <div class="btn-nav-menu-burger" tabindex="0">
    <div class="hamburger-menu" onclick="this.classList.toggle('active')">
      <span></span>
    </div>
  </div>
  <div class="btn-nav-menu-burger" tabindex="0">
    <div class="hamburger-menu active" onclick="this.classList.toggle('active')">
      <span></span>
    </div>
  </div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-accordion / .active</h3>
  <div class="btn-nav-accordion" tabindex="0">
    <div class="accordion-icon" onclick="this.classList.toggle('active')">
      <span></span>
    </div>
  </div>
  <div class="btn-nav-accordion" tabindex="0">
    <div class="accordion-icon active" onclick="this.classList.toggle('active')">
      <span></span>
    </div>
  </div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-social </h3>
  <button class="btn-nav-social">
    <i class="btn-nav-social__telegramm"></i>
  </button>
  <a class="btn-nav-social">
    <i class="btn-nav-social__watsapp"></i>
  </a>
  <div class="btn-nav-social" tabindex="0">
    <i class="btn-nav-social__vkontakte"></i>
  </div>
  <div class="btn-nav-social" tabindex="0">
    <i class="btn-nav-social__youtube"></i>
  </div>
</div>
<div>
  <h3 class="title title__h3">.btn-nav-footer-social </h3>
  <button class="btn-nav-footer-social">
    <i class="btn-nav-footer-social__telegramm"></i>
  </button>
  <a class="btn-nav-footer-social">
    <i class="btn-nav-footer-social__watsapp"></i>
  </a>
  <div class="btn-nav-footer-social" tabindex="0">
    <i class="btn-nav-footer-social__vkontakte"></i>
  </div>
  <div class="btn-nav-footer-social" tabindex="0">
    <i class="btn-nav-footer-social__youtube"></i>
  </div>
</div>
