<!--
  * HTML
  * Name: _scene-loved-for.html
  * Path: src\components\modules\scene-loved-for\_scene-loved-for.html
-->
<div id="id-loved-for-wrap">
  <div id="id-scene-loved-for" class="scene-loved-for">
    <div class="scene-loved-for__item scene-loved-for__background">
      @@include('./parts/scene-loved-for-background.html')
    </div>
    <!--  -->
    <div class="scene-loved-for__item scene-loved-for__front-stars" data-depth="0.06"></div>
    <!--  -->
    <div class="scene-loved-for__item scene-loved-for__tablet" data-depth="0.12"></div>
    <!--  -->
    <div class="scene-loved-for__item scene-loved-for__calc-nb" data-depth="0.14"></div>
    <!--  -->
    <div class="scene-loved-for__item scene-loved-for__little-things" data-depth="0.2"></div>
    <!--  -->
  </div>
</div>
