<!--
  * HTML
  * Name: typography-text.html
  * Path: src\components\elements\typography-text\
-->

<h3 class="title title__h3">.text-base</h3>
<div class="text text--base text--lh-base">
  <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Quas dolorem reprehenderit labore facilis!
  Reprehenderit
  minima sed, numquam eum eaque provident dolores animi, consectetur deleniti culpa rem modi atque soluta
  facere!
</div>
<!--  -->
<h3 class="title title__h3">.text--incompact</h3>
<div class="text text--base text--lh-incompact">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur beatae neque assumenda magnam impedit, perferendis id
  magni velit eum vel ipsam et qui ab ut recusandae temporibus veritatis molestiae reprehenderit.
</div>
<!--  -->
<h3 class="title title__h3">.text--compact</h3>
<div class="text text--base text--lh-base">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur beatae neque assumenda magnam impedit, perferendis id
  magni velit eum vel ipsam et qui ab ut recusandae temporibus veritatis molestiae reprehenderit.
</div>
<!--  -->
<h3 class="title title__h3">.text--small</h3>
<div class="text text--small text--lh-base">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur beatae neque assumenda magnam impedit, perferendis id
  magni velit eum vel ipsam et qui ab ut recusandae temporibus veritatis molestiae reprehenderit.
</div>
<!--  -->
<h3 class="title title__h3">.text--big</h3>
<div class="text text--big text--lh-base">Далеко-далеко за словесными горами в стране гласных и согласных живут
  рыбные тексты.
  Раз,
  домах буквоград? Агентство дал гор что букв правилами на берегу обеспечивает безорфографичный. Большого, имени даль то
  большой однажды деревни страна.</div>
<!--  -->
<h3 class="title title__h3">.text-block</h3>
<div class="text text--base text--lh-base text-block">
  <p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Щеке лучше решила то образ
    живет они. Лучше эта, грустный текст живет переулка инициал запятой правилами, свою от всех, но вскоре.</p>
  <p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Щеке лучше решила то образ
    живет они. Лучше эта, грустный текст живет переулка инициал запятой правилами, свою от всех, но вскоре.</p>
  <p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Щеке лучше решила то образ
    живет они. Лучше эта, грустный текст живет переулка инициал запятой правилами, свою от всех, но вскоре.</p>
  <p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Щеке лучше решила то образ
    живет они. Лучше эта, грустный текст живет переулка инициал запятой правилами, свою от всех, но вскоре.</p>

</div>
<!--  -->
<h3 class="title title__h3">.text-list</h3>
<ul class="text text--base text--lh-base text-list">
  <li>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Назад, алфавит мир вдали
    запятой его своих напоивший безопасную, свою пустился подзаголовок великий города снова сих дороге ее рекламных
    даль.</li>
  <li>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Назад, алфавит мир вдали
    запятой его своих напоивший безопасную, свою пустился подзаголовок великий города снова сих дороге ее рекламных
    даль.</li>
  <li>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Назад, алфавит мир вдали
    запятой его своих напоивший безопасную, свою пустился подзаголовок великий города снова сих дороге ее рекламных
    даль.</li>
  <li>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Назад, алфавит мир вдали
    запятой его своих напоивший безопасную, свою пустился подзаголовок великий города снова сих дороге ее рекламных
    даль.</li>

</ul>
