.rates-card {
  // @media (max-width: 1000px)

  @media (max-width: 1000px) {
    margin-left: 5px;
    margin-right: 5px;

    padding-top: 53px;
    padding-right: 20px;

    &__price {
      font-size: 3.2rem;
      padding: 25px 5px 25px 34px;
      max-width: 220px;
    }

    &__inside {
      padding: 40px 10px 26px 28px;
    }

    &__list-item {
      width: 70%;
    }
  }

  // @media (max-width: 415px)

  @media (max-width: 415px) {
    &__inside {
      // max-width: 295px;
      min-height: 495px;
    }

    &__list {
      min-height: 280px;
    }

    &__list-item {
      width: 85%;
    }
  }

  // @media (max-width: 360px)

  @media (max-width: 360px) {
    margin-left: 0;
    margin-right: 0;

    padding-right: 0;

    &__price {
      font-size: 2.6rem;
    }


    &__list-item {
      width: 80%;
    }

    &__scene {
      right: -25px;
      bottom: -5px;
    }
  }

}
