<!--
  * HTML
  * Name:
  * Path:
-->

<div class="sign-up-for">
  <button class="btn-primary w-100">Записаться на урок</button>
  <div class="sign-up-for__social">
    <span class="text">или написать: </span>
    <div class="sign-up-for__social-buttons">
      <div class="btn-nav-social" tabindex="0">
        <i class="btn-nav-social__telegramm"></i>
      </div>
      <div class="btn-nav-social" tabindex="0">
        <i class="btn-nav-social__watsapp"></i>
      </div>
    </div>
  </div>
</div>
