%block-before {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;

  display: block;
  width: 56px;

  background-color: $theme-grey-5;

  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;

  content: "";
}

.select {
  position: relative;
  z-index: 10;

  display: block;
  width: 100%;

  font-size: 1.3rem;
  color: $form-placeholder-color;
  font-family: Gotham, Arial, Helvetica, sans-serif;
  line-height: 1.1;
  text-decoration: none;

  transition: border-color 0.2s ease;

  &__input {
    padding: 20px 8px 20px 64px;

    border: 1px solid $theme-grey-10;
    border-radius: 32px;
    cursor: pointer;

    transition: border-color 0.2s ease;

    &::before {
      @extend %block-before;
    }

    &::after {

      position: absolute;
      top: 50%;
      left: 17px;

      display: block;
      width: 24px;
      height: 24px;

      transform: translateY(-50%);

      opacity: 0.8;

      content: "";

      @extend %icon-form-class;
    }

    &.open {
      border-bottom: 1 solid transparent;
      border-radius: 32px 32px 0 0;

      &::before {
        bottom: 0;
      }
    }
  }

  &__input-value {
    color: $theme-primary;
  }

  &__placeholder {
    color: $form-placeholder-color;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 34px;

    width: 8px;
    height: 8px;

    border-right: 1px solid $form-placeholder-color;
    border-bottom: 1px solid $form-placeholder-color;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
    cursor: pointer;
  }

  &__deselect {
    position: absolute;
    top: 50%;
    right: 46px;

    line-height: 1;

    transform: translateY(-50%);
    cursor: pointer;

    &::before {
      display: inline-block;

      color: $form-placeholder-color;
      font-size: 16px;

      content: "×";
    }
  }

  &__content {
    position: absolute;
    top: 98%;
    right: 0;
    z-index: 20;

    width: 100%;
    padding: 0 28px 15px 66px;
    overflow: hidden;

    background-color: $theme-background;
    border: 1px solid $theme-grey-10;
    border-top: none;
    border-radius: 0 0 32px 32px;

    transition: opacity 0.3s ease, max-height 0.3s ease;

    &::before {
      @extend %block-before;
      top: 0;
      bottom: 1px;
      left: 1px;
    }
  }

  &__list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    @extend %scrollbar;
  }

  &__sublist {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
  }

  &__optgroup {
    font-weight: 500;

    cursor: default;
  }

  &__option {

    padding-top: 4px;
    padding-bottom: 4px;

    font-weight: 400;

    cursor: pointer;

    &.hidden {
      display: none;
    }

    &.disabled {}

    &.active {}

    &:hover {
      background-color: antiquewhite;
    }
  }


  // @media (max-width: 320px)

  @media (max-width: 320px) {
    &__input {
      padding: 14px 8px 14px 64px;
    }

    &__input::before,
    &__content::before {
      width: 42px;
    }

    &__input::after {
      left: 15px;

      width: 20px;
      height: 20px;
    }
  }
}
