<!--
  * HTML
  * Name: scene-contacts-first.html
  * Path: src\components\modules\scene-contacts-first\
-->

<div id="id-scene-contacts-first" class="scene-contacts-first">
  <!--  -->
  <div class="scene-contacts-first__item scene-contacts-first__contacts-0" data-depth="0.1"></div>
  <!--  -->
  <div class="scene-contacts-first__item scene-contacts-first__contacts-1" data-depth="0.2"></div>
  <!--  -->
  <div class="scene-contacts-first__item scene-contacts-first__contacts-2" data-depth="0.22"></div>
  <!--  -->
  <div class="scene-contacts-first__item scene-contacts-first__contacts-3" data-depth="0.25"></div>
  <!--  -->
  <div class="scene-contacts-first__item scene-contacts-first__contacts-4" data-depth="0.3"></div>
  <!--  -->
</div>
