<!--
  * HTML
  * Name:
  * Path:
-->

<div id="id-modal-callback" class="modal" aria-hidden="true">
  <div class="modal__overlay" data-mmodal-close="id-modal-callback">
    <div class="modal__content" tabindex="0" role="dialog" aria-modal="true">
      <button class="modal__close btn-secondary" aria-label="Close modal" data-mmodal-close="id-modal-callback">&times;</button>
      @@include('../../modules/form-callback-vertical/form-callback-vertical.html', {
      "parrentClass": "modal-callback",
      "id-section": "id-modal-classes",
      "parameters": {}
      })
    </div>
  </div>
</div>
