<!--
  * HTML
  * Name: _scene-welcome.html
  * Path: src\components\modules\scene-welcome\_scene-welcome.html
-->

<div id="id-scene-welcome" class="scene-welcome">
  <div class="scene-welcome__item scene-welcome__background" data-depth="0.05">
    @@include('./parts/_scene-welcome-background.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__homework" data-depth="0.1">
    @@include('./parts/_scene-welcome-homework.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__phone-1" data-depth="0.2">
    @@include('./parts/_scene-welcome-phone-1.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__phone-2" data-depth="0.22">
    @@include('./parts/_scene-welcome-phone-2.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__tablet" data-depth="0.3">
    @@include('./parts/_scene-welcome-tablet.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__computer">
    @@include('./parts/_scene-welcome-computer.html')
  </div>
  <!--  -->
  <div class="scene-welcome__item scene-welcome__table">
    @@include('./parts/_scene-welcome-table.html')
  </div>
  <!--  -->
</div>
