<h4 class="class-nav__title title title__h4">
  Классы
</h4>
<nav class="class-nav__lists-wrapper">

  @@include('./parts/class-wrapper.html', {
  "title": "Начальная школа:",
  "list": ["1 класс", "2 класс", "3 класс", "4 класс"]
  })

  @@include('./parts/class-wrapper.html', {
  "title": "Средняя школа:",
  "list": ["5 класс", "6 класс", "7 класс", "8 класс"]
  })

  @@include('./parts/class-wrapper.html', {
  "title": "Старшая школа:",
  "list": ["9 класс", "10 класс", "11 класс"]
  })

</nav> <!-- / .class-nav__lists-wrapper -->
