<!--
  * HTML
  * Name: scene-header.html
  * Path: src\components\modules\scene-header\
-->

<div id="id-scene-header" class="scene-header">
  <!--  -->
  <div id="id-scene-header-left" class="scene-header__item scene-header__left">
    <!--  -->
    <div class="scene-header__left-item scene-header__left-0" data-depth="0.15"></div>
    <!--  -->
    <div class="scene-header__left-item scene-header__left-1" data-depth="0.3"></div>
    <!--  -->
    <div class="scene-header__left-item scene-header__left-2" data-depth="0.5"></div>
  </div>
  <!--  -->
  <div id="id-scene-header-right" class="scene-header__item scene-header__right">
    <!--  -->
    <div class="scene-header__right-item scene-header__right-0" data-depth="0.15"></div>
    <!--  -->
    <div class="scene-header__right-item scene-header__right-1" data-depth="0.3"></div>
    <!--  -->
    <div class="scene-header__right-item scene-header__right-2" data-depth="0.5"></div>
    <!--  -->
  </div>
  <!--  -->
</div>
