<!--
  * HTML
  * Name:
  * Path:
-->
<div id="id-scene-homework" class="scene-how-works">
  <div class="scene-how-works__item scene-how-works__background" data-depth="0.2">
    @@include('./parts/_how-works-background.html')
  </div>
  <div class="scene-how-works__item scene-how-works__homework-0" data-depth="0.2"></div>
  <div class="scene-how-works__item scene-how-works__homework-1" data-depth="0.3"></div>
  <div class="scene-how-works__item scene-how-works__homework-2" data-depth="0.5"></div>
</div>
