<!--
  * HTML
  * Name: scene-how-works-additional-materials.html
  * Path: src\components\modules\scene-how-works\
-->

<div id="id-scene-additional-materials" class="scene-how-works">
  <div class="scene-how-works__item scene-how-works__background" data-depth="0.2">
    @@include('./parts/_how-works-background.html')
  </div>
  <div class="scene-how-works__item scene-how-works__additional-materials-0" data-depth="0.3"></div>
  <div class="scene-how-works__item scene-how-works__additional-materials-1" data-depth="0.5"></div>
</div>
